.main {
    text-align: center;
}

.test-l {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(19, 19, 19);
    color: white;
}
.test-l:hover {
    cursor: pointer;
}
.test-wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

@media only screen and (max-width: 500px) {
    .test-l {
        font-size: 12px;
    }
}