@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    body {
        height: 100%;
        width: 100%;
        background: #ffffff;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    button {
        font-family: 'Roboto', sans-serif;
    
    }
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        
    }
    .wrapper {
        overflow:inherit;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* _________________header__________________ */
    header {
        display: flex;
        box-sizing: border-box;
        color: white;
        width: 100%;
        height: 44px;
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
    }
    .header_a{
        margin-left: 20px;
    }
    .header_a_profile{
        margin-left: 20px;
    }
    .as {
        line-height: 2.7em;
        width: 30%;
        height: 100%;
    }
    .profile {
        line-height: 2.7em;
        text-align: end;
        width: 70%;
        height: 100%;
    }
    .logout{
        border: none;
        background-color: black;
        color: white;
        padding-right: 20px;
    }

    /* _____________________main_______________________ */
    main {
        
        display: flex;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding-top: 44px;
    }
    .main_left, .main_right {
        width: 35%;
        height: 100%;
    }
    .main_center{
        width: 30%;
        height: 100%;
    }
    .title_test{
        color: black;
        text-align: center;
        font-size: 2em;
        line-height: 2em;
    }
    .test {
        box-sizing: border-box;
        padding: 1em;
        width: 100%;
        height: 20em;
        border-radius: 1em;
        background-color: #2e302f;

    }
    
    .word_test {
        color: white;
        font-size: 1.7em;
        box-sizing: border-box;  
    }
    .onward, .submit{
        background-color: #000000;
        border: none;
        border-radius: 1em;
        color: white;
        height: 3em;
        width: 100%;
        font-size: 18px;
    }
    .visible{
        display: block;
    }
    .invisible{
        display: none;
        color: #000000;
    }

        /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 10px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: white;
    }
    
    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #e1e1e1;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #1d1d1d;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
        
    }
    .result {
        color: white;
        margin-top: 10%;
        height: 90%;
        width: 100%;
        text-align: center;
        background-color: #00ff11;
        border-radius: 0.7em;
        overflow: scroll;
    }
    .procent {
        font-size: 2em;
        position: absolute;
        color: white;
        text-align: center;
       
    }
    .error {
        background-color: #ff0000;
        font-size: 2em;
    }
    .right {
        background-color: #007a1e;
        font-size: 2em;
    }


    /* _____________________footer__________________ */
    footer {
        flex: 0 0 auto;
        display: flex;
        width: 100%;
        height: 70px;
        background-color: #232323;
        color: white;
        text-align: center;
    }
    
    .footer_left{
        padding-left: 1.5em;
        line-height: 3.3em;
        width: 50%;
        height: 100%;
        text-align: start;
        color: #d7d7d7;
        font-size: 13px;
    }
    .footer_right{
        padding-right: 1.5em;
        font-size: 2em;
        line-height: 2.2em;
        width: 50%;
        height: 100%;
        text-align: end;
    }
    
    