{% extends "templates/index.html" %}

{% block style %}
<link rel="stylesheet" href="/templates/static/css/createtest.css">
{% endblock %}

{% block main %}
<div class="title">УДАЛИТЬ СЛОВА</div>
<form id="delete-word">
<div class="words-wrap">
    {% for item in words %}
    <div class="words-4">
    <label class="word"><input class="word-inp" type="checkbox" name="{{item.Word}}" value="{{item.Translate}}">{{item.Word}} - {{item.Translate}}</label>
    </div>
    {% endfor %}
</div>
<button class="delete" type="button">УДАЛИТЬ</button>
</form>
{% endblock %}

{% block scripts %}
<script src="/templates/static/js/deleteword.js"></script>
{% endblock %}