<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/static/css/index.css">
    {% block style %}
    {% endblock %}
    <title>marat-tatar</title>
</head>
<body>
    <div class="wrapper">
    <div class="header">
        <div class="content">
            <div class="header-wrap">
                <div class="header-left">
                    <a href="/" class="menu-a">ГЛАВНАЯ</a>
                    <a href="/tests" class="menu-a">ТЕСТЫ</a>
                </div>
                <div class="header-right">
                    <button class="sing-in-up">{{ user }}</button>
                    <button class="logout">ВЫЙТИ</button>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
    {% block main %}
    <style>.main{
        text-align: center;
    }</style>
    {% if user == admin %}
    <div class="center">Я не придумал что тут</div>
    <div class="center" style="margin: 10px;">Вот ссылка на тесты: <a href="/tests" style="background-color: aquamarine; ">БЕДНИ</a></div>
    <div class="center"><button class="stat" style="background-color:chartreuse; ">СТАТИСТИКА</button></div>
    <div class="center" style="margin: 10px;"><a href="/create-word" style="background-color: rgb(94, 82, 255); ">СОЗДАТЬ СЛОВО</a></div>
    <div class="center" style="margin: 10px;"><a href="/create-test" style="background-color: rgb(255, 82, 218); ">СОЗДАТЬ ТЕСТ</a></div>
    <div class="center" style="margin: 10px;"><a href="/delete-word" style="background-color: rgb(82, 163, 255); ">УДАЛИТЬ СЛОВО</a></div>
    <div class="center" style="margin: 10px;"><a href="/delete-test" style="background-color: rgb(82, 252, 255); ">УДАЛИТЬ TECT</a></div>
    {% else %}
    <div class="center">Я не придумал что тут</div>
    <div class="center" style="margin: 10px;">Вот ссылка на тесты: <a href="/tests" style="background-color: aquamarine; ">БЕДНИ</a></div>
    {% endif %}
    {% endblock %}
    </div>
    

    <div class="footer">
        <div class="content">
        <div class="footer-wrap">
            <div class="footer-left">НЕКОМЕРЧЕСКОЕ РАЗВЛЕКАТЕЛЬНОЕ СООБЩЕСТВО ЛЮБИТЕЛЕЙ ЭЧПАЧМАКОВ</div>
            <div class="footer-right">
                <a href="" class="tg-a">TG</a>
            </div>
        </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="/templates/static/js/index.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>