<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marat</title>
    <link href="file://wsl.localhost/Arch/home/giicoo/Development/maratWebSite/templates/static/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="as">
            <a class="header_a">ГЛАВНАЯ</a>
            <a class="header_a">ТЕСТ</a>
        </div>
        <div class="profile">
            <a class="header_a_profile">giicoo</a>
            <button class="logout">ВЫЙТИ</button>
        </div>
        
    </header>
    <main></main>
    <footer></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</body>
</html>