<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marat</title>
    <link href="D:\Проекты\maratWebSite\templates\static\css\main.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="as">
            <a class="header_a">ГЛАВНАЯ</a>
            <a class="header_a">ТЕСТ</a>
        </div>
        <div class="profile">
            <a class="header_a_profile">giicoo</a>
            <button class="logout">ВЫЙТИ</button>
        </div>
        
    </header>

    <main>
        <div class="main_left"></div>
        <div class="main_center">
            <div class="title_test">ТЕСТ ПО ТАТАРСКОМУ</div>
            <div class="test">
                
                <form id="form_test" method="get">
                    <meta name="now" content="1" >
                    <div class="word_test visible">КОРОВА
                      <label class="container">One
                        <input type="radio" name="КОРОВА" value="1">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">Two
                        <input type="radio" name="КОРОВА" value="2">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">Three
                        <input type="radio" name="КОРОВА" value="3">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">Four
                        <input type="radio" name="КОРОВА" value="4">
                        <span class="checkmark"></span>
                      </label>
                      <button class="onward" type="button">Далее</button>
                    </div> 
                    <div class="word_test invisible">ЧЕСНОК
                        <label class="container">One
                          <input type="radio" name="ЧЕСНОК" value="1">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Two
                          <input type="radio" name="ЧЕСНОК" value="2">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Three
                          <input type="radio" name="ЧЕСНОК" value="3">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Four
                          <input type="radio" name="ЧЕСНОК" value="4">
                          <span class="checkmark"></span>
                        </label>
                        <button class="onward" type="button">Далее</button>
                      </div>  
                      <div class="word_test invisible">ВЕРБЛЮД
                        <label class="container">One
                          <input type="radio" name="ВЕРБЛЮД" value="1">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Two
                          <input type="radio" name="ВЕРБЛЮД" value="2">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Three
                          <input type="radio" name="ВЕРБЛЮД" value="3">
                          <span class="checkmark"></span>
                        </label>
                        <label class="container">Four
                          <input type="radio" name="ВЕРБЛЮД" value="4">
                          <span class="checkmark"></span>
                        </label>
                        <button class="submit" type="button">Отправить</button>
                      </div>   
                <form>
                
            </div>
        </div>
        <div class="main_right"></div>
    </main>

    <footer>
        <div class="footer_left">
            <p>НЕКОМЕРЧЕСКОЕ РАЗВЛЕКАТЕЛЬНОЕ СООБЩЕСТВО ЛЮБИТЕЛЕЙ ЭЧПАЧМАКОВ</p>
        </div>

        <div class="footer_right">
            <a>TG</a>
        </div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="D:/Проекты/maratWebSite/templates/static/js/main.js"></script>
</body>
</html>