{% extends 'templates/index.html' %}

{% block style %}
<link rel="stylesheet" href="/templates/static/css/test.css">
{% endblock %}


{% block main %}
<div class="test-block">
    <meta name="test_name" content="{{test_name}}">
    <div class="test-name">{{ test_name }}</div>
    <div class="test">
        <div class="translates">
        <form id="form_test" method="get">
            <meta name="now" content="1" >
            
            {% for item in words %}
            
            {% if item.Right == 0 %}
            {% if item == first %}
            <div class="word visible">{{item.Words[0].Word}}  
            {% else %}  
            <div class="word invisible">{{item.Words[0].Word}}
            {% endif %}
                <label class="container">{{item.Words[0].Translate}} 
                <input type="radio" name="{{item.Words[0].Word}}" value="{{item.Words[0].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[1].Translate}}
                <input type="radio" name="{{item.Words[0].Word}}" value="{{item.Words[1].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[2].Translate}}
                <input type="radio" name="{{item.Words[0].Word}}" value="{{item.Words[2].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[3].Translate}}
                <input type="radio" name="{{item.Words[0].Word}}" value="{{item.Words[3].Translate}}">
                <span class="checkmark"></span>
                </label>
                <input type="radio" name="{{item.Words[0].Word}}" style="display: none" checked=true value="">
                {% if item == last %}
                <button class="submit" type="button">Отправить</button>
                {% else %}
                <button class="onward" type="button">Далее</button>
                {% endif %}
            </div>  
            {% endif %}



            {% if item.Right == 1 %}
            {% if item == first %}
            <div class="word visible">{{item.Words[1].Word}} 
            {% else %}  
            <div class="word invisible">{{item.Words[1].Word}}
            {% endif %}
                <label class="container">{{item.Words[0].Translate}}
                <input type="radio" name="{{item.Words[1].Word}}" value="{{item.Words[0].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[1].Translate}}
                <input type="radio" name="{{item.Words[1].Word}}" value="{{item.Words[1].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[2].Translate}}
                <input type="radio" name="{{item.Words[1].Word}}" value="{{item.Words[2].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[3].Translate}}
                <input type="radio" name="{{item.Words[1].Word}}" value="{{item.Words[3].Translate}}">
                <span class="checkmark"></span>
                </label>
                <input type="radio" name="{{item.Words[1].Word}}" style="display: none" checked=true value="">
                {% if item == last %}
                <button class="submit" type="button">Отправить</button>
                {% else %}
                <button class="onward" type="button">Далее</button>
                {% endif %}
            </div>  
            {% endif %}




            {% if item.Right == 2 %}
            {% if item == first %}
            <div class="word visible">{{item.Words[2].Word}} 
            {% else %}  
            <div class="word invisible">{{item.Words[2].Word}}
            {% endif %}
                <label class="container">{{item.Words[0].Translate}}
                <input type="radio" name="{{item.Words[2].Word}}" value="{{item.Words[0].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[1].Translate}}
                <input type="radio" name="{{item.Words[2].Word}}" value="{{item.Words[1].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[2].Translate}}
                <input type="radio" name="{{item.Words[2].Word}}" value="{{item.Words[2].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[3].Translate}}
                <input type="radio" name="{{item.Words[2].Word}}" value="{{item.Words[3].Translate}}">
                <span class="checkmark"></span>
                </label>
                <input type="radio" name="{{item.Words[2].Word}}" style="display: none" checked=true value="">
                {% if item == last %}
                <button class="submit" type="button">Отправить</button>
                {% else %}
                <button class="onward" type="button">Далее</button>
                {% endif %}
            </div>  
            {% endif %}



            {% if item.Right == 3 %}
            {% if item == first %}
            <div class="word visible">{{item.Words[3].Word}}
            {% else %}  
            <div class="word invisible">{{item.Words[3].Word}}
            {% endif %}
                <label class="container">{{item.Words[0].Translate}}
                <input type="radio" name="{{item.Words[3].Word}}" value="{{item.Words[0].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[1].Translate}}
                <input type="radio" name="{{item.Words[3].Word}}" value="{{item.Words[1].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[2].Translate}}
                <input type="radio" name="{{item.Words[3].Word}}" value="{{item.Words[2].Translate}}">
                <span class="checkmark"></span>
                </label>
                <label class="container">{{item.Words[3].Translate}}
                <input type="radio" name="{{item.Words[3].Word}}" value="{{item.Words[3].Translate}}">
                <span class="checkmark"></span>
                </label>
                <input type="radio" name="{{item.Words[3].Word}}" style="display: none" checked=true value="">
                {% if item == last %}
                <button class="submit" type="button">Отправить</button>
                {% else %}
                <button class="onward" type="button">Далее</button>
                {% endif %}
            </div>  
            {% endif %}
            {% endfor %}
        </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/templates/static/js/main.js"></script>
{% endblock %} 